@charset "utf-8";
/*reset*/
		.yellow{background-color: #ffa300;}
		.lightyellow{background-color: #f8f0b4;}
		.gold{background-color: #FECE64;}
		.green{background-color: #d4cb85;}
		.red{background-color: #e13533;}
		.blue{background-color: #00b2a9;}
		.lightblue{background-color: #96b89f;}
		.brown{background-color: #370311;}
		.white{background-color: rgba(255,255,255,.5);}
		.lightgray{background-color: #dddddd;}
		.text_blue{color:#00b2a9;}
		.text_brown{color:#370311}
		.text_gray{color:#888888 !important;}
		.text_lightgray{color:#bbb}
		.text_red{color:#e13533;}
		.text_white{color:#ffffff;}
		.title{
			font-weight: bold;
			font-size:2rem;
			font-family:hershey;
		}
		.sub_title{
			font-weight: bold;
			font-size:1.5rem;
			font-family:hershey;
		}
		.sub_text{
			font-size:1.2rem;
		}
		.fs_12{font-size: 12px;}
		.fs_48{font-size:48px;}
		.fs_56{font-size:56px;}
		.fs_100{font-size: 100px;}
		h1{font-size:56px;}
		.btn{
			font-family:hershey;
			font-size:2.5rem;
		}
		.fw_bold{font-weight: bold;}

		.search_on{position: relative; width: 250px;}
		.search_on input{
			width: 250px !important;
			height: 45px !important;
			border-radius: 30px !important;
			opacity:.5;
		}
		.search_on a{position: absolute; right: 25px;opacity:1;}
		.visualBtn{display: block;}
		.m_more{
			width: 150px; height: 150px;
			border-radius: 100%;
			background-color: #e13533;
			display: block;
			margin: auto;
			transition:.5s;
		}
		.m_more:hover{background-color: #ffa300;}
		.tnb{
			background-image: url(../images/tnb_bg.png);
			background-position:center;
			background-repeat:no-repeat;
		}
		.search{
			display: block;
			width: 30%; height: 50px; 
			background-color: rgba(255,255,255,0.5);
			border-radius: 100px;
			position:relative;
		}
		.search_icon{
			display: block;
			position: absolute;
			right: 5%; top: 50%; 
			transform:translateY(-50%);
		}
		.header_wrap{background-image: url(../images/visual_bg01.jpg);
			background-repeat:no-repeat;
			background-position: center 0;
		}
		.hv{
			width: 240px;
			height: 240px; 
			border-radius: 100%;
			position: absolute;
			top: 0; left: 50%;
			transform:translateX(-50%);
			z-index: -1;
			transition:.5s;
			opacity:0;
		}
		.c_wrap{position: relative;}
		.c_wrap:hover .hv{opacity:1;} 
/*recipe*/
		.r_wrap{
			overflow:hidden;
			position: relative;
		}
		.r_hv{
			position: absolute;
			top: 0;
			width: 100%; height: 100%;
			opacity:0;
			z-index: 1;
			transition:.5s;
		}
		.r_wrap:hover .r_hv{opacity:1;}
		.r_show{opacity:0; transition:2s;}
		.content02_wrap.active .r_show{
			animation: showAni 1s forwards;
		}
		@keyframes showAni{
			to{opacity:1; }
		}
		.content02_wrap.active .r_show:nth-child(2){
			animation: showAni2 1s .3s forwards;
		}
		@keyframes showAni2{
			to{opacity:1; }
		}
		.content02_wrap.active .r_show:nth-child(3){
			animation: showAni3 1s .6s forwards;
		}
		@keyframes showAni3{
			to{opacity:1; }
		}
		.content02_wrap.active .r_show:nth-child(4){
			animation: showAni4 1s .9s forwards;
		}
		@keyframes showAni4{
			to{opacity:1; }
		}
/*brands*/
		.content03_wrap{
			background-image: url(../images/brands_bg.png);
			background-size: cover;
			background-position: center;
		}
		.b_hv{
			content:"";
			display: block;
			border-radius: 50%;
			overflow:hidden;
		}
		.b_hv img{
			transform:scale(1);
			transition:.3s;
		}
		.b_hv:hover img{
			animation:brandAni 1s forwards;
		}
		@keyframes brandAni{
			to{transform:scale(1.2);}
		}

		.brand_wrap{opacity:0; transition:2s;}
		.content03_wrap.active .brand_wrap:first-child{
			animation: brandAni1 1s forwards;
		}
		@keyframes brandAni1{
			to{opacity:1;}
		}
		.content03_wrap.active .brand_wrap:nth-child(2){
			animation: brandAni2 1s 0.2s forwards;
		}
		@keyframes brandAni2{
			to{opacity:1;}
		}
		.content03_wrap.active .brand_wrap:nth-child(3){
			animation: brandAni3 1s 0.4s forwards;
		}
		@keyframes brandAni3{
			to{opacity:1;}
		}
		.content03_wrap.active .brand_wrap:nth-child(4){
			animation: brandAni4 1s 0.6s forwards;
		}
		@keyframes brandAni4{
			to{opacity:1;}
		}
		.content03_wrap.active .brand_wrap:nth-child(5){
			animation: brandAni5 1s 0.8s forwards;
		}
		@keyframes brandAni5{
			to{opacity:1;}
		}
		.content03_wrap.active .brand_wrap:nth-child(6){
			animation: brandAni6 1s 1s forwards;
		}
		@keyframes brandAni6{
			to{opacity:1;}
		}
/*footer*/
.go_recipe,
.go_event{
	position: relative; 
	overflow:hidden;
}
.go_r_text,
.go_e_text{
	position: absolute; 
	top:50%; left: 50%;
	transform:translate(-50%,-50%);
	z-index: 1; 
}
.go_recipe img{transition:.5s;}
.go_event img{transition:.5s;}
.go_recipe:hover img{transform:scale(1.2);}
.go_event:hover img{transform:scale(1.2);}
.f_btn{
	border: 3px solid #370311;
	border-radius: 50px 50px 0 0;
	border-bottom: none;
	transition:0.3s;
}
.right{border-left: 2px solid #d3d3d3;}
@media (max-width: 575.98px) {
	.right{border-left: 0px solid #d3d3d3;}
	.story_text{font-size:12px;}
	.story_btn p{font-size:50px;}
	.story_btn button{font-size:12px !important;}
	.f_btn{border-radius: 20px 20px 0 0 !important;}
	.story_btn02 h2{font-size:20px !important;}
	.story_btn02 p{font-size:12px !important;}
	.content01_wrap h1{font-size:35px !important;}
	.bunny_txt,
	.egg_txt{
		font-size:12px;
		padding-top: 20px;
	}
	.bunny_wrap img,
	.egg_wrap img{
		transform:scale(2)!important; padding: 50px 0;}
	.hv{width: 150px !important; height: 150px !important;}
}
@media (max-width: 767.98px) {
	.story_btn02 h2{font-size:30px;}
	.story_btn02 p{font-size:14px;}
	.story_btn02 button{font-size:14px;}
	.content01_wrap h1{font-size:35px !important;}
	.bunny_txt,
	.egg_txt{
		font-size:12px;
		padding-top: 20px;
	}
	.bunny_wrap img,
	.egg_wrap img{
		transform:scale(2)!important;
		padding: 50px 0;
	}
}
@media (max-width: 991.98px) {
	/*body{font-size:20px}	*/
	.story_btn02 button{font-size:16px;}
}
@media (max-width: 1199.98px) {
}
/*sub*/
.brand_bg{
	display: block;
	position: relative;
 }
 .a_b_bg{
 	width: 150px; height: 150px;
 	margin: auto;
 }
 .brand_bg img{
 	position: absolute;
 	top: 50%; left: 50%;
 	transform:translate(-50%,-50%);
 }
.a_b_hv{
	width: 150px; height: 150px;
	position: absolute;
	top: 0; left: 50%;
	transform:translateX(-50%);
	background-color: rgba(255,53,51,.5);
	transition:.5s;
	opacity:0;
}
.all_brand:hover .a_b_hv{opacity:1;}
.brand_hv{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(255,163,0,.6);
	opacity:0;
	transition:.3s;
	cursor:pointer;
}
.brand_hv span{
	width: 150px; height: 150px;
	display: block;
	transition:.3s;
}
.hershey_wrap:hover .brand_hv{opacity:1;}
.hershey_wrap:hover .brand_hv span{transform:scale(1.2);}
.recipe_wrap{overflow:hidden;}
.recipe_wrap:hover .brand_hv{opacity:1;}
.recipe_wrap:hover .brand_hv span{transform:scale(1.2);}
#myVideo{width: 100%; height: 100%;}

.story01_img{position: relative;}
.story_btn{
	position: absolute;
	top:50%; left: 50%;
	transform:translate(-50%,-50%);
	z-index: 1;
}
/*slider main title*/
.bounceIn{animation:bounceIn 1.2s 0.1s forwards; }
      @keyframes bounceIn {
        from,
        20%,
        40%,
        60%,
        80%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
          opacity: 0;
          -webkit-transform: scale3d(0.3, 0.3, 0.3);
          transform: scale3d(0.3, 0.3, 0.3);
        }
        20% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
          -webkit-transform: scale3d(0.9, 0.9, 0.9);
          transform: scale3d(0.9, 0.9, 0.9);
        }
        60% {
          opacity: 1;
          -webkit-transform: scale3d(1.03, 1.03, 1.03);
          transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
          -webkit-transform: scale3d(0.97, 0.97, 0.97);
          transform: scale3d(0.97, 0.97, 0.97);
        }
        to {
          opacity: 1;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }


      /*bxslider*/
    /*.sliderWrap .bx-wrapper {
	    -moz-box-shadow: 0 none;
	    -webkit-box-shadow: 0 none;
	    box-shadow: 0 none;
	    border: none;
	    background: none;
	}*/

	.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff !important;
    border: 2px solid #370311;
    width: 20px !important;
    height: 20px !important;
    border-radius: 20px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #370311 !important;
}

/*.sliderWrap{position: relative;}
.sliderWrap .pager{position: absolute;}
.nextBtn{top: 50%; right:-100px; transform:translateY(-50%);}
.prevBtn{top: 50%; left: -100px; transform:translateY(-50%);}
.nextBtn img,
.prevBtn img{width: 100px; z-index: 9999;}*/

