@charset "utf-8";
/*reset*/
		.yellow{background-color: #ffa300;}
		.lightyellow{background-color: #f8f0b4;}
		.red{background-color: #e13533;}
		.blue{background-color: #00b2a9;}
		.text_blue{color:#00b2a9;}
		.text_brown{color:#370311}
		.title{
			font-weight: bold;
			font-size:2rem;
			font-family:hershey;
		}
		h1{font-size:48px;}
		a{
			font-family:hershey; font-size:2rem;
		}
		.btn{
			font-family:hershey;
			font-size:2.5rem;
		}
		.fw_bold{font-weight: bold;}


/*mobile*/
		.m_more{
			width: 150px; height: 150px;
			border-radius: 100%;
			background-color: #e13533;
			display: block;
			margin: auto; /*왜 안먹어!!!!!!!!!!!!!!!!*/
			transition:.5s;
		}
		.m_more:hover{background-color: #ffa300;}
		.tnb{
			background-image: url(../images/tnb_bg.png);
			background-position:center;
			background-repeat:no-repeat;
		}
		.search{
			display: block;
			width: 30%; height: 50px; 
			background-color: rgba(255,255,255,0.5);
			border-radius: 100px;
			position:relative;
		}
		.search_icon{
			display: block;
			position: absolute;
			right: 5%; top: 50%; 
			transform:translateY(-50%);
		}
		.header_wrap{background-image: url(../images/visual_bg01.jpg);
			background-repeat:no-repeat;
		}
		.hv{
			width: 240px;
			height: 240px; 
			border-radius: 100%;
			position: absolute;
			top: 0; left: 50%;
			transform:translateX(-50%);
			z-index: -1;
			transition:.5s;
			opacity:0;
		}
		.c_wrap{position: relative;}
		.c_wrap:hover .hv{opacity:1;} 
/*recipe*/
		.r_wrap{
			width: 230px; height: 230px;
			border-radius: 100%;
			overflow:hidden;
			position: relative;
		}
		.r_hv{
			position: absolute;
			top: 0;
			width: 100%; height: 100%;
			opacity:0;
			z-index: 1;
			transition:.5s;
		}
		.r_wrap:hover .r_hv{opacity:1;}
/*brands*/
		.content03_wrap{
			background-image: url(../images/brands_bg.png);
			background-size: cover;
			background-position: center;
		}
		.b_hv{
			content:"";
			display: block;
			width: 320px; 
			height: 320px;
			border-radius: 50%;
			overflow:hidden;
		}
		.b_hv img{
			transform:scale(1);
			transition:.3s;
		}
		.b_hv:hover img{
			animation:brandAni 1s forwards;
		}
		@keyframes brandAni{
			to{transform:scale(1.2);}
		}